body {
    background-image: url("../../img/BG-hp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register {
    text-align: center;
    width: 350px;
}

.register h1 {
    color: #fff;
    text-shadow: 3px 0 9px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

.register_item {
    margin: 25px 0;
    width: 100%;
}

.register_item:last-child {
    display: flex;
    align-items: center;
}

.register_input {
    width: 100%;
    padding: 10px 30px;
    border: none;
    border-bottom: 1.5px solid #b4a7a7;
    background: transparent;
    color: #111;
    font-size: 19px;
}

.register_input::placeholder {
    font-size: 16px;
    color: #524e4e;
    text-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
}

.register_check {
    border: 1px solid #524e4e;
}

.register_label {
    font-size: 12px;
}



.btn:hover {
    color: #222;
    border: 1.5px solid #524e4e;
    transform: translateY(-3px)
}

.separate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.separate_item {
   width: 44%;
   background-color: #fff;
   height: 1px;
}

.separate_item-text {
    color: #524e4e;
    text-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
}

.btn_login button {
    width: 350px;
    padding: 9px 0;
    border-radius: 30px;
    border: 1.5px solid #fff;
    background: transparent;
    cursor: pointer;
    color: #fff;
    text-shadow: 3px 0 9px rgba(0, 0, 0, 0.5);
    font-size: 19px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    margin: 5px 0;
}

.footer {
    transform: translateY(10px);
    font-size: 14px;
}

.btn_gg:hover {
    color: #fff;
    border: 1.5px solid #fff;
    transform: translateY(-3px);
    background: linear-gradient(90deg, red, yellow, green, rgb(69, 69, 250));
}

.btn_face:hover {
    transform: translateY(-3px);
    color: #fff;
    border: 1.5px solid #fff;
    background: linear-gradient(90deg, #0008ff, #192bd0, #405df1bc);
}

.btn_apple:hover {
    transform: translateY(-3px);
    color: #fff;
    border: 1.5px solid #fff;
    background: linear-gradient(75deg, #000000, #25262e, #58595ebc);
}

.btn_insta:hover {
    transform: translateY(-3px);
    color: #fff;
    border: 1.5px solid #fff;
    background: linear-gradient(100deg, rgb(255, 51, 0), yellow, violet, purple);
}

